<div role="dialog" aria-modal="true"  >
  <div class="dialog-header" (click)="close()">
X
  </div>
  <div class="dialog-body" >
    <div>
      <h2>{{data.item.name}}</h2>
      <p>{{data.item.status}}</p>
      <p>{{data.item.species}}</p>
      <p>{{data.item.gender}}</p>
      <p>{{data.item.origin.name}}</p>
      <p>{{data.item.location.name}}</p>
     <br/>
        <div class="rating" role="radiogroup" aria-label="Avaliação" *ngIf="data.showSelect">
          <button
            mat-icon-button
            *ngFor="let star of stars; let i = index"
            (click)="setRating(i + 1)"
            [attr.aria-checked]=" rating === i + 1"
            role="radio"
            [attr.aria-label]="'Avaliar com ' + (i + 1) + ' estrelas'">

            <mat-icon color="warn">
              {{ i < rating ? 'star' : 'star_border' }}
            </mat-icon>

          </button>
    </div>
  </div>
  <div class="dialog-body-collection" *ngIf="data.showSelect">
    Add collection:


    <mat-form-field>
      <mat-label>Add Collection</mat-label>

      <mat-select [(ngModel)]="selectedValue">

        <mat-option *ngIf="!itemsCollection || itemsCollection.length === 0" disabled>
          No option available
        </mat-option>


        <mat-option
          *ngFor="let item of itemsCollection"
          [value]="item.id">
          {{ item.title }}
        </mat-option>

      </mat-select>
    </mat-form-field>


    <button mat-flat-button (click)="onAddCollection()">Add</button>
  </div>
  </div>


</div>
