

  .container-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top:16px ;
    gap:16px;
    .list-item{
      width: 100%;
      max-width: 368px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding:8px;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      gap: 8px;
      img{
        cursor: pointer;
        display: block;
        width: 50%;
      }
    }

  }


  form{
    margin: 16px 0;
    max-width: 700px;
    display: flex;


  input {
    flex: 1;
    height: 70px;
    padding: 0 24px;
    border: 0;
    border-radius: 5px 0 0 5px;
    border: 2px solid #fff;
    &::placeholder {
      color: #3a3a3a;
    }
  }

  button {
    width: 210px;
    height: 70px;
    background: #04d361;
    border-radius: 0px 5px 0px;
    border: 0;
    color: #fff;
    font-weight: bold;
    &:hover {
      background: '#04d361'
    };
    }
  }

